# on a new machine, look at https://www.chezmoi.io/user-guide/manage-machine-to-machine-differences/ to customize variables
[user]
	email = {{ .email | quote }}
	name = {{ .name | quote }}
	signingkey = {{ .signingkey | quote }}
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
{{- if eq .isSwh true }}
[url "git@gitlab.softwareheritage.org:"]
    pushInsteadOf = https://gitlab.softwareheritage.org
{{- end }}
[pull]
	rebase = true
