theme = { dark = "dracula", light = "solarized_light" }

[editor]
line-number = "relative"
cursorline = true
mouse = true
color-modes = true
bufferline = "multiple"
end-of-line-diagnostics = "hint"
true-color = true
completion-replace = true

[editor.file-picker]
hidden = false

[editor.cursor-shape]
insert = "bar"
normal = "underline"
select = "underline"

[editor.lsp]
display-inlay-hints = true
display-messages = true

[editor.inline-diagnostics]
cursor-line = "warning"

[editor.soft-wrap]
enable = true

[editor.auto-save]
focus-lost = true
after-delay.enable = true
after-delay.timeout = 3000

[editor.statusline]
center = ["file-type"]

[keys.normal]
x = "select_line_below"
X = "select_line_above"
C-r = [
  ":write-all",
  ":insert-output scooter --no-stdin >/dev/tty",
  ":redraw",
  ":reload-all",
]
Cmd-tab = "goto_next_buffer"
Cmd-S-tab = "goto_previous_buffer"
Cmd-w = ":buffer-close"

[keys.normal.space]
"H" = ":toggle lsp.display-inlay-hints"
B = ":echo %sh{commit=$(git blame -L %{cursor_line},%{cursor_line} --porcelain %{buffer_name} | sed -n '1s/ .*//p'); info=$(git show -s --format='%%an|%%s|%%ad' --date=format:'%%d. %%b %%Y' \"$commit\"); IFS='|' read -r name msg date <<<\"$info\"; printf '%%s - %%s - %%s' \"$name\" \"$msg\" \"$date\"}"
